.scroller {
  min-width: 100%;
  margin-bottom: 5px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  transition: scale 0.5s ease;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller__inner:hover {
  animation-play-state: paused;
  scale: 1.02;
  cursor: pointer;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 15s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 25s;
}

@keyframes scroll {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* general styles */

:root {
  --light-gray: hsl(0, 0%, 84%);
  --smoky-black: hsl(0, 0%, 7%);
}

.tag-list {
  min-width: 120px;
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  color: var(--light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--smoky-black);
  transition: scale 0.5s ease;

  &:hover {
    scale: 1.08;
  }
}
